<table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Quantity</th>
        <th>Confirmed</th>
        <th>Dish Name</th>
        <th>User Name</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let reservation of reservations">
        <td>{{ reservation.id }}</td>
        <td>{{ reservation.quantity }}</td>
        <td>{{ reservation.confirmed }}</td>
        <td>{{ reservation.dish.name }}</td>
        <td>{{ reservation.user.firstName }} {{ reservation.user.lastName }}</td>
        <td>
            <button (click)="displayReservation(reservation.id)" class="btn btn-primary">Display</button>
            <button (click)="deleteReservation(reservation.id)" class="btn btn-danger">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  