<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Dishes</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="reservation-tab" data-toggle="tab" href="#reservation" role="tab" aria-controls="reservation" aria-selected="false">Reservation</a>
      </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab"><app-dishes-table></app-dishes-table></div>
    <div class="tab-pane fade" id="reservation" role="tabpanel" aria-labelledby="reservation-tab"><app-reservation-table></app-reservation-table></div>
  </div>