<!-- Breadcrumb Section -->
<section class="breadcrumb breadcrumb_bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb_iner text-center">
          <div class="breadcrumb_iner_item">
            <h2>Signup</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Breadcrumb Section -->

<!-- Signup Form Section -->
<section class="contact-section section_padding">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="contact-title">Signup Form</h2>
      </div>
      <div class="col-lg-12">
        <form class="form-contact contact_form" [formGroup]="signupForm">
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <input class="form-control" formControlName="firstName" type="text" 
                  placeholder="Enter your First Name" required>
                  <span  *ngIf="signupForm.controls['firstName'].invalid && (signupForm.controls['firstName'].dirty ||
                signupForm.controls['firstName'].touched )" class="text-danger">

                  <span *ngIf="signupForm.controls['firstName'].errors?.['required']">Firstname is required</span>
                  <span *ngIf="signupForm.controls['firstName'].errors?.['minlength']">Firstname Min lentgh 3</span>
              </span>
              </div>
            </div>
            
            <div class="col-sm-12">
              <div class="form-group">
                <input class="form-control" formControlName="lastName"  type="text" 
                  placeholder="Enter your Last Name" required>
                  <div *ngIf="signupForm.controls['lastName'].invalid && (signupForm.controls['lastName'].dirty ||
                  signupForm.controls['lastName'].touched )" class="text-danger">
    
                    <div *ngIf="signupForm.controls['lastName'].errors?.['required']">LastName is required</div>
                    <div *ngIf="signupForm.controls['lastName'].errors?.['minlength']">LastName Min lentgh 3</div>
                </div>
              </div>
            </div>
           
            <div class="col-sm-12">
              <div class="form-group">
                <input class="form-control" formControlName="email" type="email" 
                  placeholder="Enter your email address" required>
                  <div *ngIf="signupForm.controls['email'].invalid && (signupForm.controls['email'].dirty ||
              signupForm.controls['email'].touched )" class="text-danger">

                <div *ngIf="signupForm.controls['email'].errors?.['required']">First email is required</div>
                <div *ngIf="signupForm.controls['email'].errors?.['email']">Invalid email Format</div>
            </div>
              </div>
            </div>
            
            <div class="col-sm-6">
              <div class="form-group">
                <input class="form-control" formControlName="phone" type="tel" 
                  placeholder="Enter your phone number">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <input class="form-control" formControlName="address" type="text" 
                  placeholder="Enter your address">
              </div>
            </div>
            <div class="col-12">
              <div class="form-group">
                <input class="form-control" formControlName="password" type="password" 
                  placeholder="Enter your password" required>
              </div>
            </div>
            
            <div class="col-12">
              <div class="form-group">
                <input class="form-control" formControlName="experience" type="text" 
                  placeholder="Enter your experience" required>
              </div>
            </div>
            <div class="col-12">
            <div class="form-group mt-3">
              <select class="form-control" formControlName="menuType">
                <option value="specialty" selected>Select Your Speciality</option>
                <option value="tunisian">Tunisian</option>
                <option value="pasta">Pasta</option>
                <option value="healthy">Healthy</option>
              </select>
            </div>
          </div>        
          </div>
          <div class="form-group mt-3">
            <label>Signup as:</label>
            <select class="form-control" formControlName="userType">
              <option value="client" selected>Client</option>
              <option value="chef">Chef</option>
            </select>
          </div>
          <div class="form-group mt-3">
            <button type="submit" class="button button-contactForm btn_4">Signup</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<!-- End Signup Form Section -->
