<table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nom</th>
        <th>Description</th>
        <th>Prix</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dish of dishes">
        <td>{{ dish.id }}</td>
        <td>{{ dish.name }}</td>
        <td>{{ dish.description }}</td>
        <td>{{ dish.price }}</td>
        <td>
            <button (click)="displayDish(dish.id)" class="btn btn-primary">Display</button>
            <button (click)="editDish(dish.id)" class="btn btn-secondary">Edit</button>
            <button (click)="deleteDish(dish.id)" class="btn btn-danger">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  